@charset "utf-8";



body{
    background:red;
}

header {
    width: 100%;
    height: 20%;
    background: lightseagreen;
    position: fixed; /* le header est fixé en haut de page */
    top: 0;
    left: 0;
}

/* Pour la navbar */
.navbar_f {
    background: #333;
    width: 30%;
    height: 50%;
    float: right;
}

.navbar_f a {
    color: white;
    text-align: center;
    display: block;
    float: right;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar_f a:hover {
    color: crimson;
    background: rgba(40, 72, 253, 0.678);
}

.logo_f {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
}

.logo_f a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    width: 100%;
    height: 20%;
    background: lightseagreen;
    position: fixed;
    bottom: 0;
    left: 0;

}

.clear_f {
    clear: both;
}